/* Colors */
:root {
    --color-bg: #ece7e7;
    /* fg: foreground, is mainly used for text color */
    --color-fg: #0c081b;
    --color-page-bg: #ffffff;

    --color-link: #0077cc;
    --color-link-hover: #003d69;
    --color-link-visited: #642ad0;
}

/* / Colors */


/* General Boilerplate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 1rem;
    font-weight: normal;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-fg);
}

/* / General Boilerplate */


/* Nested tree styling */
.page {
    width: 60dvw;
    background-color: var(--color-page-bg);

    &>main {

    }
}


/* / Nested tree styling */


/* Tag wide styling */
a {
    color: var(--color-link);
    text-decoration: none;

    &:visited {
        color: var(--color-link-visited);
    }

    &:hover {
        color: var(--color-link-hover);
    }
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bolder;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;

    margin-top: calc(var(--m-top-unit) * var(--m-4));
    margin-bottom: calc(var(--m-bottom-unit) * var(--m-1));
}

/* Margin */
* {
    --m-top-unit: 1rem;
    --m-right-unit: 1ch;
    --m-bottom-unit: 1rem;
    --m-left-unit: 1ch;

    --m-1: 0.3;
    --m-2: 0.5;
    --m-3: 0.7;
    --m-4: 1;
    --m-10: 4;
    --m-15: 10;
    --m-20: 20;

    &.m-top-1 {
        margin-top: calc(var(--m-top-unit) * var(--m-1)) !important;
    }

    &.m-right-1 {
        margin-right: calc(var(--m-right-unit) * var(--m-1)) !important;
    }

    &.m-bottom-1 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-1)) !important;
    }

    &.m-left-1 {
        margin-left: calc(var(--m-left-unit) * var(--m-1)) !important;
    }

    &.m-top-2 {
        margin-top: calc(var(--m-top-unit) * var(--m-2)) !important;
    }

    &.m-right-2 {
        margin-right: calc(var(--m-right-unit) * var(--m-2)) !important;
    }

    &.m-bottom-2 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-2)) !important;
    }

    &.m-left-2 {
        margin-left: calc(var(--m-left-unit) * var(--m-2)) !important;
    }

    &.m-top-3 {
        margin-top: calc(var(--m-top-unit) * var(--m-3)) !important;
    }

    &.m-right-3 {
        margin-right: calc(var(--m-right-unit) * var(--m-3)) !important;
    }

    &.m-bottom-3 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-3)) !important;
    }

    &.m-left-3 {
        margin-left: calc(var(--m-left-unit) * var(--m-3)) !important;
    }

    &.m-top-4 {
        margin-top: calc(var(--m-top-unit) * var(--m-4)) !important;
    }

    &.m-right-4 {
        margin-right: calc(var(--m-right-unit) * var(--m-4)) !important;
    }

    &.m-bottom-4 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-4)) !important;
    }

    &.m-left-4 {
        margin-left: calc(var(--m-left-unit) * var(--m-4)) !important;
    }

    &.m-top-10 {
        margin-top: calc(var(--m-top-unit) * var(--m-10)) !important;
    }

    &.m-right-10 {
        margin-right: calc(var(--m-right-unit) * var(--m-10)) !important;
    }

    &.m-bottom-10 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-10)) !important;
    }

    &.m-left-10 {
        margin-left: calc(var(--m-left-unit) * var(--m-10)) !important;
    }

    &.m-top-15 {
        margin-top: calc(var(--m-top-unit) * var(--m-15)) !important;
    }

    &.m-right-15 {
        margin-right: calc(var(--m-right-unit) * var(--m-15)) !important;
    }

    &.m-bottom-15 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-15)) !important;
    }

    &.m-left-15 {
        margin-left: calc(var(--m-left-unit) * var(--m-15)) !important;
    }

    &.m-top-20 {
        margin-top: calc(var(--m-top-unit) * var(--m-20)) !important;
    }

    &.m-right-20 {
        margin-right: calc(var(--m-right-unit) * var(--m-20)) !important;
    }

    &.m-bottom-20 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-20)) !important;
    }

    &.m-left-20 {
        margin-left: calc(var(--m-left-unit) * var(--m-20)) !important;
    }

    &.m-1 {
        margin: calc(var(--m-top-unit) * var(--m-1)) calc(var(--m-right-unit) * var(--m-1)) calc(var(--m-bottom-unit) * var(--m-1)) calc(var(--m-left-unit) * var(--m-1));
    }

    &.m-2 {
        margin: calc(var(--m-top-unit) * var(--m-2)) calc(var(--m-right-unit) * var(--m-2)) calc(var(--m-bottom-unit) * var(--m-2)) calc(var(--m-left-unit) * var(--m-2));
    }

    &.m-3 {
        margin: calc(var(--m-top-unit) * var(--m-3)) calc(var(--m-right-unit) * var(--m-3)) calc(var(--m-bottom-unit) * var(--m-3)) calc(var(--m-left-unit) * var(--m-3));
    }

    &.m-4 {
        margin: calc(var(--m-top-unit) * var(--m-4)) calc(var(--m-right-unit) * var(--m-4)) calc(var(--m-bottom-unit) * var(--m-4)) calc(var(--m-left-unit) * var(--m-4));
    }

    &.m-10 {
        margin: calc(var(--m-top-unit) * var(--m-10)) calc(var(--m-right-unit) * var(--m-10)) calc(var(--m-bottom-unit) * var(--m-10)) calc(var(--m-left-unit) * var(--m-10));
    }

    &.m-15 {
        margin: calc(var(--m-top-unit) * var(--m-15)) calc(var(--m-right-unit) * var(--m-15)) calc(var(--m-bottom-unit) * var(--m-15)) calc(var(--m-left-unit) * var(--m-15));
    }

    &.m-20 {
        margin: calc(var(--m-top-unit) * var(--m-20)) calc(var(--m-right-unit) * var(--m-20)) calc(var(--m-bottom-unit) * var(--m-20)) calc(var(--m-left-unit) * var(--m-20));
    }

    &.m-auto {
        margin: auto;
    }
}

/* Padding */
* {
    --p-top-unit: 1rem;
    --p-right-unit: 1ch;
    --p-bottom-unit: 1rem;
    --p-left-unit: 1ch;

    --p-1: 0.3;
    --p-2: 0.5;
    --p-3: 0.7;
    --p-4: 1;
    --p-10: 4;
    --p-15: 10;
    --p-20: 20;

    &.p-top-1 {
        padding-top: calc(var(--p-top-unit) * var(--p-1)) !important;
    }

    &.p-right-1 {
        padding-right: calc(var(--p-right-unit) * var(--p-1)) !important;
    }

    &.p-bottom-1 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-1)) !important;
    }

    &.p-left-1 {
        padding-left: calc(var(--p-left-unit) * var(--p-1)) !important;
    }

    &.p-top-2 {
        padding-top: calc(var(--p-top-unit) * var(--p-2)) !important;
    }

    &.p-right-2 {
        padding-right: calc(var(--p-right-unit) * var(--p-2)) !important;
    }

    &.p-bottom-2 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-2)) !important;
    }

    &.p-left-2 {
        padding-left: calc(var(--p-left-unit) * var(--p-2)) !important;
    }

    &.p-top-3 {
        padding-top: calc(var(--p-top-unit) * var(--p-3)) !important;
    }

    &.p-right-3 {
        padding-right: calc(var(--p-right-unit) * var(--p-3)) !important;
    }

    &.p-bottom-3 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-3)) !important;
    }

    &.p-left-3 {
        padding-left: calc(var(--p-left-unit) * var(--p-3)) !important;
    }

    &.p-top-4 {
        padding-top: calc(var(--p-top-unit) * var(--p-4)) !important;
    }

    &.p-right-4 {
        padding-right: calc(var(--p-right-unit) * var(--p-4)) !important;
    }

    &.p-bottom-4 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-4)) !important;
    }

    &.p-left-4 {
        padding-left: calc(var(--p-left-unit) * var(--p-4)) !important;
    }

    &.p-top-10 {
        padding-top: calc(var(--p-top-unit) * var(--p-10)) !important;
    }

    &.p-right-10 {
        padding-right: calc(var(--p-right-unit) * var(--p-10)) !important;
    }

    &.p-bottom-10 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-10)) !important;
    }

    &.p-left-10 {
        padding-left: calc(var(--p-left-unit) * var(--p-10)) !important;
    }

    &.p-top-15 {
        padding-top: calc(var(--p-top-unit) * var(--p-15)) !important;
    }

    &.p-right-15 {
        padding-right: calc(var(--p-right-unit) * var(--p-15)) !important;
    }

    &.p-bottom-15 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-15)) !important;
    }

    &.p-left-15 {
        padding-left: calc(var(--p-left-unit) * var(--p-15)) !important;
    }

    &.p-top-20 {
        padding-top: calc(var(--p-top-unit) * var(--p-20)) !important;
    }

    &.p-right-20 {
        padding-right: calc(var(--p-right-unit) * var(--p-20)) !important;
    }

    &.p-bottom-20 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-20)) !important;
    }

    &.p-left-20 {
        padding-left: calc(var(--p-left-unit) * var(--p-20)) !important;
    }

    &.p-1 {
        padding: calc(var(--p-top-unit) * var(--p-1)) calc(var(--p-right-unit) * var(--p-1)) calc(var(--p-bottom-unit) * var(--p-1)) calc(var(--p-left-unit) * var(--p-1));
    }

    &.p-2 {
        padding: calc(var(--p-top-unit) * var(--p-2)) calc(var(--p-right-unit) * var(--p-2)) calc(var(--p-bottom-unit) * var(--p-2)) calc(var(--p-left-unit) * var(--p-2));
    }

    &.p-3 {
        padding: calc(var(--p-top-unit) * var(--p-3)) calc(var(--p-right-unit) * var(--p-3)) calc(var(--p-bottom-unit) * var(--p-3)) calc(var(--p-left-unit) * var(--p-3));
    }

    &.p-4 {
        padding: calc(var(--p-top-unit) * var(--p-4)) calc(var(--p-right-unit) * var(--p-4)) calc(var(--p-bottom-unit) * var(--p-4)) calc(var(--p-left-unit) * var(--p-4));
    }

    &.p-10 {
        padding: calc(var(--p-top-unit) * var(--p-10)) calc(var(--p-right-unit) * var(--p-10)) calc(var(--p-bottom-unit) * var(--p-10)) calc(var(--p-left-unit) * var(--p-10));
    }

    &.p-15 {
        padding: calc(var(--p-top-unit) * var(--p-15)) calc(var(--p-right-unit) * var(--p-15)) calc(var(--p-bottom-unit) * var(--p-15)) calc(var(--p-left-unit) * var(--p-15));
    }

    &.p-20 {
        padding: calc(var(--p-top-unit) * var(--p-20)) calc(var(--p-right-unit) * var(--p-20)) calc(var(--p-bottom-unit) * var(--p-20)) calc(var(--p-left-unit) * var(--p-20));
    }

    &.p-auto {
        padding: auto;
    }
}

/* / Tag wide styling */


/* Class wide styling */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    &.cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &.cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &.cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    &.rows-2 {
        grid-template-rows: repeat(2, 1fr);
    }

    &.rows-3 {
        grid-template-rows: repeat(3, 1fr);
    }

    &.rows-4 {
        grid-template-rows: repeat(4, 1fr);
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;

    &.evenly {
        justify-content: space-evenly;
    }

    &.between {
        justify-content: space-between;
    }

    &.center {
        justify-content: center;
    }
}

.col {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;

    &.evenly {
        align-items: space-evenly;
    }

    &.between {
        align-items: space-between;
    }

    &.center {
        align-items: center;
    }
}

/* Gaps */
.grid,
.row,
.col {
    --row-unit: 1rem;
    --col-unit: 1ch;

    --gap-1: 0.3;
    --gap-2: 0.5;
    --gap-3: 0.7;
    --gap-4: 1;
    --gap-10: 4;
    --gap-15: 10;
    --gap-20: 20;

    /* Row gaps */
    &.r-gap-1 {
        row-gap: calc(var(--row-unit) * var(--gap-1));
    }

    &.r-gap-2 {
        row-gap: calc(var(--row-unit) * var(--gap-2));
    }

    &.r-gap-3 {
        row-gap: calc(var(--row-unit) * var(--gap-3));
    }

    &.r-gap-4 {
        row-gap: calc(var(--row-unit) * var(--gap-4));
    }

    &.r-gap-10 {
        row-gap: calc(var(--row-unit) * var(--gap-10));
    }

    &.r-gap-15 {
        row-gap: calc(var(--row-unit) * var(--gap-15));
    }

    &.r-gap-20 {
        row-gap: calc(var(--row-unit) * var(--gap-20));
    }

    /* Column gaps */
    &.c-gap-1 {
        column-gap: calc(var(--col-unit) * var(--gap-1));
    }

    &.c-gap-2 {
        column-gap: calc(var(--col-unit) * var(--gap-2));
    }

    &.c-gap-3 {
        column-gap: calc(var(--col-unit) * var(--gap-3));
    }

    &.c-gap-4 {
        column-gap: calc(var(--col-unit) * var(--gap-4));
    }

    &.c-gap-10 {
        column-gap: calc(var(--col-unit) * var(--gap-10));
    }

    &.c-gap-15 {
        column-gap: calc(var(--col-unit) * var(--gap-15));
    }

    &.c-gap-20 {
        column-gap: calc(var(--col-unit) * var(--gap-20));
    }

    /* Both gaps */
    &.gap-1 {
        gap: calc(var(--row-unit) * var(--gap-1)) calc(var(--col-unit) * var(--gap-1));
    }

    &.gap-2 {
        gap: calc(var(--row-unit) * var(--gap-2)) calc(var(--col-unit) * var(--gap-2));
    }

    &.gap-3 {
        gap: calc(var(--row-unit) * var(--gap-3)) calc(var(--col-unit) * var(--gap-3));
    }

    &.gap-4 {
        gap: calc(var(--row-unit) * var(--gap-4)) calc(var(--col-unit) * var(--gap-4));
    }

    &.gap-10 {
        gap: calc(var(--row-unit) * var(--gap-10)) calc(var(--col-unit) * var(--gap-10));
    }

    &.gap-15 {
        gap: calc(var(--row-unit) * var(--gap-15)) calc(var(--col-unit) * var(--gap-15));
    }

    &.gap-20 {
        gap: calc(var(--row-unit) * var(--gap-20)) calc(var(--col-unit) * var(--gap-20));
    }
}

/* / Class wide styling */