/* Colors */
:root {
    --color-bg: #ece7e7;
    /* fg: foreground, is mainly used for text color */
    --color-fg: #0c081b;
    --color-page-bg: #ffffff;

    --color-link: #0077cc;
    --color-link-hover: #003d69;
    --color-link-visited: #642ad0;
}

/* / Colors */


/* Nested tree styling */
#page {
    width: 60dvw;

    /* Small screen adjustment */
    @media (max-width: 860px) {
        width: 90dvw;
    }

    background-color: var(--color-page-bg);

    &>main {}
}

/* / Nested tree styling */


/* General Boilerplate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 1rem;
    font-weight: normal;

    word-spacing: 0.2ch;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-fg);
}

/* / General Boilerplate */


/* Tag wide styling */
a {
    color: var(--color-link);
    text-decoration: none;

    &:visited {
        color: var(--color-link-visited);
    }

    &:hover {
        color: var(--color-link-hover);
    }
}

h1 {
    font-size: 2rem;
    font-weight: bold;

    margin-top: calc(var(--m-top-unit) * var(--m-2));
}

h2 {
    font-size: 1.5rem;
    font-style: italic;
}

h3 {
    font-size: 1.5rem;
    /* font-weight: bold; */

    margin-top: calc(var(--m-top-unit) * var(--m-5));
    margin-bottom: calc(var(--m-bottom-unit) * var(--m-1));
}

h4 {
    font-size: 1.125rem;
    /* font-style: italic; */
    /* font-weight: 500; */
    font-weight: bold;

    margin-top: calc(var(--m-top-unit) * var(--m-1));
    margin-bottom: calc(var(--m-bottom-unit) * var(--m-1));
}

h5 {
    font-size: 1.1rem;
    font-weight: 500;

    margin-top: calc(var(--m-top-unit) * var(--m-1));
}

/* Margin */
* {
    --m-top-unit: 1rem;
    --m-right-unit: 1ch;
    --m-bottom-unit: 1rem;
    --m-left-unit: 1ch;

    --m-1: 0.3;
    --m-2: 0.5;
    --m-3: 0.7;
    --m-4: 1;
    --m-5: 1.1;
    --m-6: 1.5;
    --m-7: 2;
    --m-8: 3;
    --m-9: 3.5;
    --m-10: 4;
    --m-12: 7;
    --m-15: 10;
    --m-20: 20;

    &.m-top-1 {
        margin-top: calc(var(--m-top-unit) * var(--m-1)) !important;
    }

    &.m-right-1 {
        margin-right: calc(var(--m-right-unit) * var(--m-1)) !important;
    }

    &.m-bottom-1 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-1)) !important;
    }

    &.m-left-1 {
        margin-left: calc(var(--m-left-unit) * var(--m-1)) !important;
    }

    &.m-top-2 {
        margin-top: calc(var(--m-top-unit) * var(--m-2)) !important;
    }

    &.m-right-2 {
        margin-right: calc(var(--m-right-unit) * var(--m-2)) !important;
    }

    &.m-bottom-2 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-2)) !important;
    }

    &.m-left-2 {
        margin-left: calc(var(--m-left-unit) * var(--m-2)) !important;
    }

    &.m-top-3 {
        margin-top: calc(var(--m-top-unit) * var(--m-3)) !important;
    }

    &.m-right-3 {
        margin-right: calc(var(--m-right-unit) * var(--m-3)) !important;
    }

    &.m-bottom-3 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-3)) !important;
    }

    &.m-left-3 {
        margin-left: calc(var(--m-left-unit) * var(--m-3)) !important;
    }

    &.m-top-4 {
        margin-top: calc(var(--m-top-unit) * var(--m-4)) !important;
    }

    &.m-right-4 {
        margin-right: calc(var(--m-right-unit) * var(--m-4)) !important;
    }

    &.m-bottom-4 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-4)) !important;
    }

    &.m-left-4 {
        margin-left: calc(var(--m-left-unit) * var(--m-4)) !important;
    }

    &.m-top-5 {
        margin-top: calc(var(--m-top-unit) * var(--m-5)) !important;
    }

    &.m-right-5 {
        margin-right: calc(var(--m-right-unit) * var(--m-5)) !important;
    }

    &.m-bottom-5 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-5)) !important;
    }

    &.m-left-5 {
        margin-left: calc(var(--m-left-unit) * var(--m-5)) !important;
    }

    &.m-top-6 {
        margin-top: calc(var(--m-top-unit) * var(--m-6)) !important;
    }

    &.m-right-6 {
        margin-right: calc(var(--m-right-unit) * var(--m-6)) !important;
    }

    &.m-bottom-6 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-6)) !important;
    }

    &.m-left-6 {
        margin-left: calc(var(--m-left-unit) * var(--m-6)) !important;
    }

    &.m-top-7 {
        margin-top: calc(var(--m-top-unit) * var(--m-7)) !important;
    }

    &.m-right-7 {
        margin-right: calc(var(--m-right-unit) * var(--m-7)) !important;
    }

    &.m-bottom-7 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-7)) !important;
    }

    &.m-left-7 {
        margin-left: calc(var(--m-left-unit) * var(--m-7)) !important;
    }

    &.m-top-8 {
        margin-top: calc(var(--m-top-unit) * var(--m-8)) !important;
    }

    &.m-right-8 {
        margin-right: calc(var(--m-right-unit) * var(--m-8)) !important;
    }

    &.m-bottom-8 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-8)) !important;
    }

    &.m-left-8 {
        margin-left: calc(var(--m-left-unit) * var(--m-8)) !important;
    }

    &.m-top-9 {
        margin-top: calc(var(--m-top-unit) * var(--m-9)) !important;
    }

    &.m-right-9 {
        margin-right: calc(var(--m-right-unit) * var(--m-9)) !important;
    }

    &.m-bottom-9 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-9)) !important;
    }

    &.m-left-9 {
        margin-left: calc(var(--m-left-unit) * var(--m-9)) !important;
    }

    &.m-top-10 {
        margin-top: calc(var(--m-top-unit) * var(--m-10)) !important;
    }

    &.m-right-10 {
        margin-right: calc(var(--m-right-unit) * var(--m-10)) !important;
    }

    &.m-bottom-10 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-10)) !important;
    }

    &.m-left-10 {
        margin-left: calc(var(--m-left-unit) * var(--m-10)) !important;
    }

    &.m-top-12 {
        margin-top: calc(var(--m-top-unit) * var(--m-12)) !important;
    }

    &.m-right-12 {
        margin-right: calc(var(--m-right-unit) * var(--m-12)) !important;
    }

    &.m-bottom-12 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-12)) !important;
    }

    &.m-left-12 {
        margin-left: calc(var(--m-left-unit) * var(--m-12)) !important;
    }

    &.m-top-15 {
        margin-top: calc(var(--m-top-unit) * var(--m-15)) !important;
    }

    &.m-right-15 {
        margin-right: calc(var(--m-right-unit) * var(--m-15)) !important;
    }

    &.m-bottom-15 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-15)) !important;
    }

    &.m-left-15 {
        margin-left: calc(var(--m-left-unit) * var(--m-15)) !important;
    }

    &.m-top-20 {
        margin-top: calc(var(--m-top-unit) * var(--m-20)) !important;
    }

    &.m-right-20 {
        margin-right: calc(var(--m-right-unit) * var(--m-20)) !important;
    }

    &.m-bottom-20 {
        margin-bottom: calc(var(--m-bottom-unit) * var(--m-20)) !important;
    }

    &.m-left-20 {
        margin-left: calc(var(--m-left-unit) * var(--m-20)) !important;
    }

    &.m-1 {
        margin: calc(var(--m-top-unit) * var(--m-1)) calc(var(--m-right-unit) * var(--m-1)) calc(var(--m-bottom-unit) * var(--m-1)) calc(var(--m-left-unit) * var(--m-1));
    }

    &.m-2 {
        margin: calc(var(--m-top-unit) * var(--m-2)) calc(var(--m-right-unit) * var(--m-2)) calc(var(--m-bottom-unit) * var(--m-2)) calc(var(--m-left-unit) * var(--m-2));
    }

    &.m-3 {
        margin: calc(var(--m-top-unit) * var(--m-3)) calc(var(--m-right-unit) * var(--m-3)) calc(var(--m-bottom-unit) * var(--m-3)) calc(var(--m-left-unit) * var(--m-3));
    }

    &.m-4 {
        margin: calc(var(--m-top-unit) * var(--m-4)) calc(var(--m-right-unit) * var(--m-4)) calc(var(--m-bottom-unit) * var(--m-4)) calc(var(--m-left-unit) * var(--m-4));
    }

    &.m-5 {
        margin: calc(var(--m-top-unit) * var(--m-5)) calc(var(--m-right-unit) * var(--m-5)) calc(var(--m-bottom-unit) * var(--m-5)) calc(var(--m-left-unit) * var(--m-5));
    }

    &.m-6 {
        margin: calc(var(--m-top-unit) * var(--m-6)) calc(var(--m-right-unit) * var(--m-6)) calc(var(--m-bottom-unit) * var(--m-6)) calc(var(--m-left-unit) * var(--m-6));
    }

    &.m-7 {
        margin: calc(var(--m-top-unit) * var(--m-7)) calc(var(--m-right-unit) * var(--m-7)) calc(var(--m-bottom-unit) * var(--m-7)) calc(var(--m-left-unit) * var(--m-7));
    }

    &.m-8 {
        margin: calc(var(--m-top-unit) * var(--m-8)) calc(var(--m-right-unit) * var(--m-8)) calc(var(--m-bottom-unit) * var(--m-8)) calc(var(--m-left-unit) * var(--m-8));
    }

    &.m-9 {
        margin: calc(var(--m-top-unit) * var(--m-9)) calc(var(--m-right-unit) * var(--m-9)) calc(var(--m-bottom-unit) * var(--m-9)) calc(var(--m-left-unit) * var(--m-9));
    }

    &.m-10 {
        margin: calc(var(--m-top-unit) * var(--m-10)) calc(var(--m-right-unit) * var(--m-10)) calc(var(--m-bottom-unit) * var(--m-10)) calc(var(--m-left-unit) * var(--m-10));
    }

    &.m-12 {
        margin: calc(var(--m-top-unit) * var(--m-12)) calc(var(--m-right-unit) * var(--m-12)) calc(var(--m-bottom-unit) * var(--m-12)) calc(var(--m-left-unit) * var(--m-12));
    }

    &.m-15 {
        margin: calc(var(--m-top-unit) * var(--m-15)) calc(var(--m-right-unit) * var(--m-15)) calc(var(--m-bottom-unit) * var(--m-15)) calc(var(--m-left-unit) * var(--m-15));
    }

    &.m-20 {
        margin: calc(var(--m-top-unit) * var(--m-20)) calc(var(--m-right-unit) * var(--m-20)) calc(var(--m-bottom-unit) * var(--m-20)) calc(var(--m-left-unit) * var(--m-20));
    }

    &.m-auto {
        margin: auto;
    }
}

/* Padding */
* {
    --p-top-unit: 1rem;
    --p-right-unit: 1ch;
    --p-bottom-unit: 1rem;
    --p-left-unit: 1ch;

    --p-1: 0.3;
    --p-2: 0.5;
    --p-3: 0.7;
    --p-4: 1;
    --p-5: 1.1;
    --p-6: 1.5;
    --p-7: 2;
    --p-8: 3;
    --p-9: 3.5;
    --p-10: 4;
    --p-12: 7;
    --p-15: 10;
    --p-20: 20;

    &.p-top-1 {
        padding-top: calc(var(--p-top-unit) * var(--p-1)) !important;
    }

    &.p-right-1 {
        padding-right: calc(var(--p-right-unit) * var(--p-1)) !important;
    }

    &.p-bottom-1 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-1)) !important;
    }

    &.p-left-1 {
        padding-left: calc(var(--p-left-unit) * var(--p-1)) !important;
    }

    &.p-top-2 {
        padding-top: calc(var(--p-top-unit) * var(--p-2)) !important;
    }

    &.p-right-2 {
        padding-right: calc(var(--p-right-unit) * var(--p-2)) !important;
    }

    &.p-bottom-2 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-2)) !important;
    }

    &.p-left-2 {
        padding-left: calc(var(--p-left-unit) * var(--p-2)) !important;
    }

    &.p-top-3 {
        padding-top: calc(var(--p-top-unit) * var(--p-3)) !important;
    }

    &.p-right-3 {
        padding-right: calc(var(--p-right-unit) * var(--p-3)) !important;
    }

    &.p-bottom-3 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-3)) !important;
    }

    &.p-left-3 {
        padding-left: calc(var(--p-left-unit) * var(--p-3)) !important;
    }

    &.p-top-4 {
        padding-top: calc(var(--p-top-unit) * var(--p-4)) !important;
    }

    &.p-right-4 {
        padding-right: calc(var(--p-right-unit) * var(--p-4)) !important;
    }

    &.p-bottom-4 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-4)) !important;
    }

    &.p-left-4 {
        padding-left: calc(var(--p-left-unit) * var(--p-4)) !important;
    }

    &.p-top-5 {
        padding-top: calc(var(--p-top-unit) * var(--p-5)) !important;
    }

    &.p-right-5 {
        padding-right: calc(var(--p-right-unit) * var(--p-5)) !important;
    }

    &.p-bottom-5 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-5)) !important;
    }

    &.p-left-5 {
        padding-left: calc(var(--p-left-unit) * var(--p-5)) !important;
    }

    &.p-top-6 {
        padding-top: calc(var(--p-top-unit) * var(--p-6)) !important;
    }

    &.p-right-6 {
        padding-right: calc(var(--p-right-unit) * var(--p-6)) !important;
    }

    &.p-bottom-6 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-6)) !important;
    }

    &.p-left-6 {
        padding-left: calc(var(--p-left-unit) * var(--p-6)) !important;
    }

    &.p-top-7 {
        padding-top: calc(var(--p-top-unit) * var(--p-7)) !important;
    }

    &.p-right-7 {
        padding-right: calc(var(--p-right-unit) * var(--p-7)) !important;
    }

    &.p-bottom-7 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-7)) !important;
    }

    &.p-left-7 {
        padding-left: calc(var(--p-left-unit) * var(--p-7)) !important;
    }

    &.p-top-8 {
        padding-top: calc(var(--p-top-unit) * var(--p-8)) !important;
    }

    &.p-right-8 {
        padding-right: calc(var(--p-right-unit) * var(--p-8)) !important;
    }

    &.p-bottom-8 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-8)) !important;
    }

    &.p-left-8 {
        padding-left: calc(var(--p-left-unit) * var(--p-8)) !important;
    }

    &.p-top-9 {
        padding-top: calc(var(--p-top-unit) * var(--p-9)) !important;
    }

    &.p-right-9 {
        padding-right: calc(var(--p-right-unit) * var(--p-9)) !important;
    }

    &.p-bottom-9 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-9)) !important;
    }

    &.p-left-9 {
        padding-left: calc(var(--p-left-unit) * var(--p-9)) !important;
    }

    &.p-top-10 {
        padding-top: calc(var(--p-top-unit) * var(--p-10)) !important;
    }

    &.p-right-10 {
        padding-right: calc(var(--p-right-unit) * var(--p-10)) !important;
    }

    &.p-bottom-10 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-10)) !important;
    }

    &.p-left-10 {
        padding-left: calc(var(--p-left-unit) * var(--p-10)) !important;
    }

    &.p-top-12 {
        padding-top: calc(var(--p-top-unit) * var(--p-12)) !important;
    }

    &.p-right-12 {
        padding-right: calc(var(--p-right-unit) * var(--p-12)) !important;
    }

    &.p-bottom-12 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-12)) !important;
    }

    &.p-left-12 {
        padding-left: calc(var(--p-left-unit) * var(--p-12)) !important;
    }

    &.p-top-15 {
        padding-top: calc(var(--p-top-unit) * var(--p-15)) !important;
    }

    &.p-right-15 {
        padding-right: calc(var(--p-right-unit) * var(--p-15)) !important;
    }

    &.p-bottom-15 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-15)) !important;
    }

    &.p-left-15 {
        padding-left: calc(var(--p-left-unit) * var(--p-15)) !important;
    }

    &.p-top-20 {
        padding-top: calc(var(--p-top-unit) * var(--p-20)) !important;
    }

    &.p-right-20 {
        padding-right: calc(var(--p-right-unit) * var(--p-20)) !important;
    }

    &.p-bottom-20 {
        padding-bottom: calc(var(--p-bottom-unit) * var(--p-20)) !important;
    }

    &.p-left-20 {
        padding-left: calc(var(--p-left-unit) * var(--p-20)) !important;
    }

    &.p-1 {
        padding: calc(var(--p-top-unit) * var(--p-1)) calc(var(--p-right-unit) * var(--p-1)) calc(var(--p-bottom-unit) * var(--p-1)) calc(var(--p-left-unit) * var(--p-1));
    }

    &.p-2 {
        padding: calc(var(--p-top-unit) * var(--p-2)) calc(var(--p-right-unit) * var(--p-2)) calc(var(--p-bottom-unit) * var(--p-2)) calc(var(--p-left-unit) * var(--p-2));
    }

    &.p-3 {
        padding: calc(var(--p-top-unit) * var(--p-3)) calc(var(--p-right-unit) * var(--p-3)) calc(var(--p-bottom-unit) * var(--p-3)) calc(var(--p-left-unit) * var(--p-3));
    }

    &.p-4 {
        padding: calc(var(--p-top-unit) * var(--p-4)) calc(var(--p-right-unit) * var(--p-4)) calc(var(--p-bottom-unit) * var(--p-4)) calc(var(--p-left-unit) * var(--p-4));
    }

    &.p-5 {
        padding: calc(var(--p-top-unit) * var(--p-5)) calc(var(--p-right-unit) * var(--p-5)) calc(var(--p-bottom-unit) * var(--p-5)) calc(var(--p-left-unit) * var(--p-5));
    }

    &.p-6 {
        padding: calc(var(--p-top-unit) * var(--p-6)) calc(var(--p-right-unit) * var(--p-6)) calc(var(--p-bottom-unit) * var(--p-6)) calc(var(--p-left-unit) * var(--p-6));
    }

    &.p-7 {
        padding: calc(var(--p-top-unit) * var(--p-7)) calc(var(--p-right-unit) * var(--p-7)) calc(var(--p-bottom-unit) * var(--p-7)) calc(var(--p-left-unit) * var(--p-7));
    }

    &.p-8 {
        padding: calc(var(--p-top-unit) * var(--p-8)) calc(var(--p-right-unit) * var(--p-8)) calc(var(--p-bottom-unit) * var(--p-8)) calc(var(--p-left-unit) * var(--p-8));
    }

    &.p-9 {
        padding: calc(var(--p-top-unit) * var(--p-9)) calc(var(--p-right-unit) * var(--p-9)) calc(var(--p-bottom-unit) * var(--p-9)) calc(var(--p-left-unit) * var(--p-9));
    }

    &.p-10 {
        padding: calc(var(--p-top-unit) * var(--p-10)) calc(var(--p-right-unit) * var(--p-10)) calc(var(--p-bottom-unit) * var(--p-10)) calc(var(--p-left-unit) * var(--p-10));
    }

    &.p-12 {
        padding: calc(var(--p-top-unit) * var(--p-12)) calc(var(--p-right-unit) * var(--p-12)) calc(var(--p-bottom-unit) * var(--p-12)) calc(var(--p-left-unit) * var(--p-12));
    }

    &.p-15 {
        padding: calc(var(--p-top-unit) * var(--p-15)) calc(var(--p-right-unit) * var(--p-15)) calc(var(--p-bottom-unit) * var(--p-15)) calc(var(--p-left-unit) * var(--p-15));
    }

    &.p-20 {
        padding: calc(var(--p-top-unit) * var(--p-20)) calc(var(--p-right-unit) * var(--p-20)) calc(var(--p-bottom-unit) * var(--p-20)) calc(var(--p-left-unit) * var(--p-20));
    }

    &.p-auto {
        padding: auto;
    }
}

/* Width */
* {
    --width-unit: 1%;
    --width-1: 10;
    --width-2: 20;
    --width-3: 30;
    --width-4: 40;
    --width-5: 50;
    --width-6: 60;
    --width-7: 70;
    --width-8: 80;
    --width-85: 85;
    --width-9: 90;
    --width-10: 100;

    &.w-1 {
        width: calc(var(--width-unit) * var(--width-1));
    }

    &.w-2 {
        width: calc(var(--width-unit) * var(--width-2));
    }

    &.w-3 {
        width: calc(var(--width-unit) * var(--width-3));
    }

    &.w-4 {
        width: calc(var(--width-unit) * var(--width-4));
    }

    &.w-5 {
        width: calc(var(--width-unit) * var(--width-5));
    }

    &.w-6 {
        width: calc(var(--width-unit) * var(--width-6));
    }

    &.w-7 {
        width: calc(var(--width-unit) * var(--width-7));
    }

    &.w-8 {
        width: calc(var(--width-unit) * var(--width-8));
    }

    &.w-85 {
        width: calc(var(--width-unit) * var(--width-85));
    }

    &.w-9 {
        width: calc(var(--width-unit) * var(--width-9));
    }

    &.w-10 {
        width: calc(var(--width-unit) * var(--width-10));
    }

    &.w-auto {
        width: auto;
    }

    &.w-full {
        width: 100%;
    }
}

/* Height */
* {
    --height-unit: 1%;
    --height-1: 10;
    --height-2: 20;
    --height-3: 30;
    --height-4: 40;
    --height-5: 50;
    --height-6: 60;
    --height-7: 70;
    --height-8: 80;
    --height-85: 85;
    --height-9: 90;
    --height-10: 100;

    &.h-1 {
        height: calc(var(--height-unit) * var(--height-1));
    }

    &.h-2 {
        height: calc(var(--height-unit) * var(--height-2));
    }

    &.h-3 {
        height: calc(var(--height-unit) * var(--height-3));
    }

    &.h-4 {
        height: calc(var(--height-unit) * var(--height-4));
    }

    &.h-5 {
        height: calc(var(--height-unit) * var(--height-5));
    }

    &.h-6 {
        height: calc(var(--height-unit) * var(--height-6));
    }

    &.h-7 {
        height: calc(var(--height-unit) * var(--height-7));
    }

    &.h-8 {
        height: calc(var(--height-unit) * var(--height-8));
    }

    &.h-85 {
        height: calc(var(--height-unit) * var(--height-85));
    }

    &.h-9 {
        height: calc(var(--height-unit) * var(--height-9));
    }

    &.h-10 {
        height: calc(var(--height-unit) * var(--height-10));
    }

    &.h-auto {
        height: auto;
    }

    &.h-full {
        height: 100%;
    }

    &.max-h-1 {
        max-height: calc(var(--height-unit) * var(--height-1));
    }

    &.max-h-2 {
        max-height: calc(var(--height-unit) * var(--height-2));
    }

    &.max-h-3 {
        max-height: calc(var(--height-unit) * var(--height-3));
    }

    &.max-h-4 {
        max-height: calc(var(--height-unit) * var(--height-4));
    }

    &.max-h-5 {
        max-height: calc(var(--height-unit) * var(--height-5));
    }

    &.max-h-6 {
        max-height: calc(var(--height-unit) * var(--height-6));
    }

    &.max-h-7 {
        max-height: calc(var(--height-unit) * var(--height-7));
    }

    &.max-h-8 {
        max-height: calc(var(--height-unit) * var(--height-8));
    }

    &.max-h-85 {
        max-height: calc(var(--height-unit) * var(--height-85));
    }

    &.max-h-9 {
        max-height: calc(var(--height-unit) * var(--height-9));
    }

    &.max-h-10 {
        max-height: calc(var(--height-unit) * var(--height-10));
    }

    &.max-h-full {
        max-height: 100%;
    }

    &.min-h-1 {
        min-height: calc(var(--height-unit) * var(--height-1));
    }

    &.min-h-2 {
        min-height: calc(var(--height-unit) * var(--height-2));
    }

    &.min-h-3 {
        min-height: calc(var(--height-unit) * var(--height-3));
    }

    &.min-h-4 {
        min-height: calc(var(--height-unit) * var(--height-4));
    }

    &.min-h-5 {
        min-height: calc(var(--height-unit) * var(--height-5));
    }

    &.min-h-6 {
        min-height: calc(var(--height-unit) * var(--height-6));
    }

    &.min-h-7 {
        min-height: calc(var(--height-unit) * var(--height-7));
    }

    &.min-h-8 {
        min-height: calc(var(--height-unit) * var(--height-8));
    }

    &.min-h-85 {
        min-height: calc(var(--height-unit) * var(--height-85));
    }

    &.min-h-9 {
        min-height: calc(var(--height-unit) * var(--height-9));
    }

    &.min-h-10 {
        min-height: calc(var(--height-unit) * var(--height-10));
    }

    &.min-h-full {
        min-height: 100%;
    }
}

/* vh */
* {
    --vh-unit: 1dvh;
    --vh-1: 10;
    --vh-2: 20;
    --vh-3: 30;
    --vh-4: 40;
    --vh-5: 50;
    --vh-6: 60;
    --vh-7: 70;
    --vh-8: 80;
    --vh-9: 90;
    --vh-10: 100;

    &.vh-1 {
        height: calc(var(--vh-unit) * var(--vh-1));
    }

    &.vh-2 {
        height: calc(var(--vh-unit) * var(--vh-2));
    }

    &.vh-3 {
        height: calc(var(--vh-unit) * var(--vh-3));
    }

    &.vh-4 {
        height: calc(var(--vh-unit) * var(--vh-4));
    }

    &.vh-5 {
        height: calc(var(--vh-unit) * var(--vh-5));
    }

    &.vh-6 {
        height: calc(var(--vh-unit) * var(--vh-6));
    }

    &.vh-7 {
        height: calc(var(--vh-unit) * var(--vh-7));
    }

    &.vh-8 {
        height: calc(var(--vh-unit) * var(--vh-8));
    }

    &.vh-9 {
        height: calc(var(--vh-unit) * var(--vh-9));
    }

    &.vh-10 {
        height: calc(var(--vh-unit) * var(--vh-10));
    }

    &.vh-auto {
        height: auto;
    }
}

/* vw */
* {
    --vw-unit: 1dvw;
    --vw-1: 10;
    --vw-2: 20;
    --vw-3: 30;
    --vw-4: 40;
    --vw-5: 50;
    --vw-6: 60;
    --vw-7: 70;
    --vw-8: 80;
    --vw-9: 90;
    --vw-10: 100;

    &.vw-1 {
        width: calc(var(--vw-unit) * var(--vw-1));
    }

    &.vw-2 {
        width: calc(var(--vw-unit) * var(--vw-2));
    }

    &.vw-3 {
        width: calc(var(--vw-unit) * var(--vw-3));
    }

    &.vw-4 {
        width: calc(var(--vw-unit) * var(--vw-4));
    }

    &.vw-5 {
        width: calc(var(--vw-unit) * var(--vw-5));
    }

    &.vw-6 {
        width: calc(var(--vw-unit) * var(--vw-6));
    }

    &.vw-7 {
        width: calc(var(--vw-unit) * var(--vw-7));
    }

    &.vw-8 {
        width: calc(var(--vw-unit) * var(--vw-8));
    }

    &.vw-9 {
        width: calc(var(--vw-unit) * var(--vw-9));
    }

    &.vw-10 {
        width: calc(var(--vw-unit) * var(--vw-10));
    }
}

/* Font size */
* {
    --font-size-unit: 1rem;
    --font-size-1: 0.7;
    --font-size-2: 0.9;
    --font-size-3: 1;
    --font-size-4: 1.1;
    --font-size-5: 1.5;
    --font-size-6: 2;
    --font-size-7: 2.5;
    --font-size-8: 3;

    &.font-size-1 {
        font-size: calc(var(--font-size-unit) * var(--font-size-1));

        &>* {
            font-size: calc(var(--font-size-unit) * var(--font-size-1));
        }
    }

    &.font-size-2 {
        font-size: calc(var(--font-size-unit) * var(--font-size-2));

        &>* {
            font-size: calc(var(--font-size-unit) * var(--font-size-2));
        }
    }

    &.font-size-3 {
        font-size: calc(var(--font-size-unit) * var(--font-size-3));

        &>* {
            font-size: calc(var(--font-size-unit) * var(--font-size-3));
        }
    }

    &.font-size-4 {
        font-size: calc(var(--font-size-unit) * var(--font-size-4));

        &>* {
            font-size: calc(var(--font-size-unit) * var(--font-size-4));
        }
    }

    &.font-size-5 {
        font-size: calc(var(--font-size-unit) * var(--font-size-5));

        &>* {
            font-size: calc(var(--font-size-unit) * var(--font-size-5));
        }
    }

    &.font-size-6 {
        font-size: calc(var(--font-size-unit) * var(--font-size-6));

        &>* {
            font-size: calc(var(--font-size-unit) * var(--font-size-6));
        }
    }

    &.font-size-7 {
        font-size: calc(var(--font-size-unit) * var(--font-size-7));

        &>* {
            font-size: calc(var(--font-size-unit) * var(--font-size-7));
        }
    }

    &.font-size-8 {
        font-size: calc(var(--font-size-unit) * var(--font-size-8));

        &>* {
            font-size: calc(var(--font-size-unit) * var(--font-size-8));
        }
    }

    &.font-size-auto {
        font-size: auto;

        &>* {
            font-size: auto;
        }
    }

    &.font-size-inherit {
        font-size: inherit;

        &>* {
            font-size: inherit;
        }
    }
}

/* Text align */
* {
    &.text-left {
        text-align: left;
    }

    &.text-center {
        text-align: center;
    }

    &.text-right {
        text-align: right;
    }

    &.text-justify {
        text-align: justify;
    }
}

/* / Tag wide styling */


/* Class wide styling */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    &.cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &.cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &.cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    &.rows-2 {
        grid-template-rows: repeat(2, 1fr);
    }

    &.rows-3 {
        grid-template-rows: repeat(3, 1fr);
    }

    &.rows-4 {
        grid-template-rows: repeat(4, 1fr);
    }

    /* Spanning */
    &>* {
        &.c-span-2 {
            grid-column: span 2;
        }

        &.r-span-2 {
            grid-row: span 2;
        }
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;

    &.evenly {
        justify-content: space-evenly;
    }

    &.between {
        justify-content: space-between;
    }

    &.center {
        justify-content: center;
    }
}

.col {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;

    &>* {
        width: 100%;
    }

    &.evenly {
        align-items: space-evenly;
    }

    &.between {
        align-items: space-between;
    }

    &.center {
        align-items: center;
    }
}

/* Gaps */
.grid,
.row,
.col {
    --row-unit: 1rem;
    --col-unit: 1ch;

    --gap-05: 0.1;
    --gap-1: 0.3;
    --gap-2: 0.5;
    --gap-3: 0.7;
    --gap-4: 1;
    --gap-10: 4;
    --gap-15: 10;
    --gap-20: 20;

    /* Row gaps */
    &.r-gap-05 {
        row-gap: calc(var(--row-unit) * var(--gap-05));
    }

    &.r-gap-1 {
        row-gap: calc(var(--row-unit) * var(--gap-1));
    }

    &.r-gap-2 {
        row-gap: calc(var(--row-unit) * var(--gap-2));
    }

    &.r-gap-3 {
        row-gap: calc(var(--row-unit) * var(--gap-3));
    }

    &.r-gap-4 {
        row-gap: calc(var(--row-unit) * var(--gap-4));
    }

    &.r-gap-10 {
        row-gap: calc(var(--row-unit) * var(--gap-10));
    }

    &.r-gap-15 {
        row-gap: calc(var(--row-unit) * var(--gap-15));
    }

    &.r-gap-20 {
        row-gap: calc(var(--row-unit) * var(--gap-20));
    }

    /* Column gaps */
    &.c-gap-05 {
        column-gap: calc(var(--col-unit) * var(--gap-05));
    }

    &.c-gap-1 {
        column-gap: calc(var(--col-unit) * var(--gap-1));
    }

    &.c-gap-2 {
        column-gap: calc(var(--col-unit) * var(--gap-2));
    }

    &.c-gap-3 {
        column-gap: calc(var(--col-unit) * var(--gap-3));
    }

    &.c-gap-4 {
        column-gap: calc(var(--col-unit) * var(--gap-4));
    }

    &.c-gap-10 {
        column-gap: calc(var(--col-unit) * var(--gap-10));
    }

    &.c-gap-15 {
        column-gap: calc(var(--col-unit) * var(--gap-15));
    }

    &.c-gap-20 {
        column-gap: calc(var(--col-unit) * var(--gap-20));
    }

    /* Both gaps */
    &.gap-05 {
        gap: calc(var(--row-unit) * var(--gap-05)) calc(var(--col-unit) * var(--gap-05));
    }

    &.gap-1 {
        gap: calc(var(--row-unit) * var(--gap-1)) calc(var(--col-unit) * var(--gap-1));
    }

    &.gap-2 {
        gap: calc(var(--row-unit) * var(--gap-2)) calc(var(--col-unit) * var(--gap-2));
    }

    &.gap-3 {
        gap: calc(var(--row-unit) * var(--gap-3)) calc(var(--col-unit) * var(--gap-3));
    }

    &.gap-4 {
        gap: calc(var(--row-unit) * var(--gap-4)) calc(var(--col-unit) * var(--gap-4));
    }

    &.gap-10 {
        gap: calc(var(--row-unit) * var(--gap-10)) calc(var(--col-unit) * var(--gap-10));
    }

    &.gap-15 {
        gap: calc(var(--row-unit) * var(--gap-15)) calc(var(--col-unit) * var(--gap-15));
    }

    &.gap-20 {
        gap: calc(var(--row-unit) * var(--gap-20)) calc(var(--col-unit) * var(--gap-20));
    }
}

/* Flex */
.grid,
.row,
.col {
    .flx-1 {
        flex: 1;
    }
}

/* Dynamic flow functions */
.grid,
.row,
.col {
    &.col-if-small {
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: start;
            row-gap: calc(var(--row-unit) * var(--gap-05));
        }
    }
}

/* / Class wide styling */